<div align="center" style="padding-top: 100px;">
  <div><img src="/images/Starcraft2logo.gif"/></div>
  <h1>Rails Tournament</h1>

  <p>Register now for the tournament by <%= link_to 'signing up!', new_user_registration_path %>.
    <br />
    More information will
    be posted here and on the google group:
    <a href="https://groups.google.com/group/rails-starcraft/">Rails Starcraft</a></p>
</div>